/* global border-box - not necessary if modern.normailze stylesheet is linked
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/
:root {
  --color-main: #fff;
  --color-logo: #000;
  --color-headline: #212121;
  --color-text: #757575;
  --color-brand: #2196f3;
  --color-footer-contacts: #ffffff99;
  --color-background-light: #f5f4fa;
  --color-header-border: #ececec;
  --color-grid-border: #eeeeee;
  --color-footer: #2f303a;
  --color-background-image: #2f303a66;
  --color-icon: #afb1b8;
  --color-icon-dark: #ffffff1a;
  --color-offer-label: #2f303acc;
  --color-overlay: #2196f3e5;
  --color-backdrop: #00000033;
  --color-comment-placeholder: #75757580;
  --color-modal-close: #0000001a;
  --font-size-regular: 14px;
  --font-size-primary: 16px;
  --font-size-logo: 26px;
  --font-size-title-headline: 44px;
  --font-size-section-headline: 36px;
  --font-size-product: 18px;
  --font-size-order-heading: 20px;
  --font-size-order-label: 12px;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;
  --letter-spacing-regular: 0.03em;
  --letter-spacing-header: 0.02em;
  --letter-spacing-btn: 0.06em;
  --letter-spacing-order-label: 0.01em;
  --line-height-regular: 1.17;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-dur: 250ms;
  --gap-grid: 30px;
  --border-radius-regular: 4px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: var(--font-size-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-headline);
}
.container {
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}
.list {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Logo WebStudio*/
.logo {
  font-family: "Raleway";
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-bold);
  line-height: 1.19;
  text-decoration: none;
  outline: none;
  color: var(--color-brand);
}

/* -------------INDEX------------ */

/* ---Header----*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  line-height: 1.14;
  letter-spacing: var(--letter-spacing-header);
  border-bottom: 1px solid var(--color-header-border);
  background-color: var(--color-main);
}

.header__logo {
  margin-right: 93px;
}
.header__logo--color {
  color: var(--color-logo);
}
.header__nav {
  display: flex;
  margin-right: 345px;
  gap: 46px;
}
.header__nav--color {
  position: relative;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  color: var(--color-headline);
}
.link {
  outline: none;
  transition-property: color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
}
.link:hover,
.link:focus {
  color: var(--color-brand);
}
/* --blue underline for active page ---- */
.header__nav--active {
  position: relative;
  color: var(--color-brand);
}
.header__nav--active::after {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  left: 0;
  right: 0;
  bottom: -33px;
  border-radius: 2px;
  background-color: var(--color-brand);
}
.header__nav--color:hover::after {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  left: 0;
  right: 0;
  bottom: -29px;
  border-radius: 2px;
  transform: translateY(100%);
  background-color: var(--color-brand);
}

/* --- */
.header__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-grid);
}
.header__contacts--color {
  display: flex;
  text-decoration: none;
  letter-spacing: var(--letter-spacing-header);
  color: var(--color-text);
}

.icon__header--color {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
  fill: var(--color-text);
  background-color: var(--color-main);
}
.icon__header--color:hover,
.icon__header--color:focus {
  fill: var(--color-brand);
}
.link:hover .icon__header--color,
.link:focus .icon__header--color {
  fill: var(--color-brand);
}

/*----Footer-----*/

.footer__background {
  background-color: var(--color-footer);
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--color-main);
}
.footer__logo--color {
  color: var(--color-main);
}
.footer__address {
  margin-top: 20px;
  margin-bottom: 9px;
  line-height: 1.71;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__contacts--color {
  text-decoration: none;
  color: var(--color-footer-contacts);
}
/* --Footer social-- */

.footer__social {
  margin-left: 70px;
  padding-top: 12px;
}
.footer__heading {
  margin-bottom: 20px;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-regular);
  text-transform: uppercase;
}
.footer__social--color {
  fill: var(--color-main);
  background-color: var(--color-icon-dark);
}
/* --Footer newsletter-- */
.footer__newsletter {
  margin-left: 78px;
  padding-top: 12px;
}
.footer__form {
  display: flex;
}
.footer__input {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius-regular);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition-property: fill, border-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
  background-color: var(--color-footer);
}
.footer__input:hover,
.footer__input:focus {
  border-color: var(--color-brand);
}
.footer__input,
::placeholder {
  font-size: var(--font-size-primary);
  line-height: 1.25;
  color: var(--color-footer-contacts);
}
.btn__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding-left: 42px;
  padding-right: 28px;
}
.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-primary);
  line-height: 1.87;
  letter-spacing: var(--letter-spacing-btn);
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: var(--border-radius-regular);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--color-main);
  background-color: var(--color-brand);
}
.icon__footer {
  width: 24px;
  height: 24px;
  margin-left: 24px;
  fill: var(--color-main);
}
/* -----Title section------ */
.title__image {
  width: 1600px;
  background-image: linear-gradient(
      var(--color-background-image),
      var(--color-background-image)
    ),
    url("../images/title-background-img.jpg");
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-background-image);
}
.title {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}
.title__headline {
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: var(--font-weight-extra-bold);
  font-size: var(--font-size-title-headline);
  line-height: 1.36;
  text-align: center;
  letter-spacing: var(--letter-spacing-btn);
  text-transform: uppercase;
  color: var(--color-main);
}
.btn__title {
  margin: 0 auto;
  padding-right: 41px;
  padding-left: 42px;
}

/* -----Offer section----- */
.offer {
  display: flex;
  flex-direction: column;
  gap: 94px;
}
.offer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-grid);
}
.offer__item {
  max-width: 270px;
  flex-basis: calc((100% - 30 * 3) / 4);
}
.icon__offer {
  display: block;
  width: 270px;
  height: 120px;
  border-radius: var(--border-radius-regular);
  border-bottom: 30px;
  fill: currentColor;
  background-color: var(--color-background-light);
}
.offer__heading {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-regular);
}
.offer__post {
  margin: 0;
  line-height: 1.71;
  color: var(--color-text);
}
.section__headline {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: var(--font-size-section-headline);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-regular);
  text-align: center;
}

.offer__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  gap: var(--gap-grid);
}
/* --label-- */
.offer__thumb {
  position: relative;
  flex-basis: calc((100% - 30 * 2) / 3);
}
.offer__label {
  position: absolute;
  margin: 0;
  padding: 27px 0;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-regular);
  text-transform: uppercase;
  text-align: center;
  bottom: 3px;
  right: 0;
  left: 0;
  color: var(--color-main);
  background-color: var(--color-offer-label);
}
/* -----Team section---- */
.team {
  background-color: var(--color-background-light);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: var(--gap-grid);
}
.team__person {
  display: flex;
  flex-direction: column;
  padding: 30px 32px;
}
.team__name {
  margin: 0;
  padding: 0;
  /* padding-bottom: 10px; */
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-primary);
  line-height: var(--line-height-regular);
  text-align: center;
}
.team__position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-regular);
  text-align: center;
  color: var(--color-text);
}
.team__card {
  margin: 0;
  padding: 0;
  flex-basis: calc((100% - 30 * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-main);
}
.social {
  display: flex;
  gap: 10px;
}
.icon__social {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
}
.team__social--color {
  fill: var(--color-icon);
  background-color: var(--color-main);
}

.icon {
  outline: none;
  cursor: pointer;
}
.icon__social:hover,
.icon__social:focus {
  outline: none;
  fill: var(--color-main);
  background-color: var(--color-brand);
}

/* -----Client section----- */

.client {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: var(--gap-grid);
}
.client__item {
  display: flex;
  flex-basis: calc((100% - 30 * 5) / 6);
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-icon);
  border-radius: var(--border-radius-regular);
  transition-property: border-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
}
.icon__client {
  width: 170px;
  height: 92px;
  fill: var(--color-icon);
  transition-property: fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
}
.client__item:hover,
.client__item:focus {
  outline: none;
  border-color: var(--color-brand);
}
.icon__client:hover,
.icon__client:focus {
  fill: var(--color-brand);
}
/* --------------------------------------- */
/* -----------------PORTFOLIO------------- */
.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.btn__filter {
  padding: 6px 22px;
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-medium);
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-regular);
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
  background-color: var(--color-background-light);
}
.btn__filter:hover,
.btn__filter:focus {
  color: var(--color-main);
  background-color: var(--color-brand);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-grid);
}
.grid__item {
  flex-basis: calc((100% - 30 * 3) / 3);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
  background-color: var(--color-main);
}
.product__label {
  padding: 20px 0 20px 24px;
  border: 1px solid var(--color-grid-border);
  border-top: none;
  /* border-bottom: 1px solid var(--color-grid-border);
  border-right: 1px solid var(--color-grid-border);
  border-left: 1px solid var(--color-grid-border); */
}
.product__name {
  margin: 0;
  padding-bottom: 4px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-product);
  line-height: 2;
  letter-spacing: var(--letter-spacing-btn);
}
.product__class {
  margin: 0;
  font-size: var(--font-size-primary);
  line-height: 1.87;
  color: var(--color-text);
}
.grid__item:hover,
.grid__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --transform - overlay */

.product {
  position: relative;
  width: 370px;
  height: 294px;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}
.grid__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 49px 45px 49px 24px;
  font-size: var(--font-size-product);
  line-height: 1.55;
  transition: transform;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
  top: 0;
  left: 0;
  transform: translatey(100%);
  color: var(--color-main);
  background-color: var(--color-overlay);
}
.grid__item:hover .grid__overlay {
  display: block;
  transform: translatey(0);
}
/* ----Modall window--- */
.modal__backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 250ms easy, visibility 250ms easy;
  background-color: var(--color-backdrop);
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius-regular);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-main);
}
.modal__anime {
  transition-duration: 1500ms;
}
.btn__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-modal-close);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition-property: border-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
  background-color: var(--color-main);
}
.modal__backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms easy, visibility 250ms easy;
}
.icon__x {
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
}
.icon__x:hover {
  fill: var(--color-brand);
}
.btn__close:hover {
  fill: var(--color-brand);
  border-color: var(--color-brand);
}
.btn__close:focus-within {
  fill: var(--color-brand);
  border-color: var(--color-brand);
}

/* ---Order form content---*/

.modal__flex {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px;
  align-items: center;
}
.order {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.order__heading {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-order-heading);
  line-height: 1.15;
  text-align: center;
  color: var(--color-headline);
}
.order__label {
  margin-bottom: 4px;
  font-size: var(--font-size-order-label);
  line-height: 1.16;
  letter-spacing: var(--letter-spacing-order-label);
  color: var(--color-text);
}
.order__item {
  position: relative;
  margin-bottom: 10px;
}
.order__item:focus-within .icon__order {
  fill: var(--color-brand);
  border-color: var(--color-brand);
}
.order__input {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-radius-regular);
  outline: none;
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
}
.order__comment {
  height: 120px;
  margin-bottom: 10px;
  padding: 12px 16px;
  resize: none;
}
.order__comment::placeholder {
  font-size: var(--font-size-order-label);
  line-height: 1.16;
  letter-spacing: var(--letter-spacing-order-label);
  color: var(--color-comment-placeholder);
}
.btn__modal {
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}
.order__confirmation {
  margin: 0;
  font-size: var(--font-size-regular);
  line-height: 1.71;
  color: var(--color-text);
}
.order__link {
  color: var(--color-brand);
}
.icon__order {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 12px;
  fill: var(--color-headline);
  transition-property: fill, border-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-timing);
}
.order__item:hover .icon__order,
.order__item:hover .order__input {
  fill: var(--color-brand);
  border-color: var(--color-brand);
}

.order__input:focus {
  fill: var(--color-brand);
  border-color: var(--color-brand);
}

.order__check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
/* --custom input type checkbox */
.order__check--custom {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--color-headline);
  border-radius: 2px;
  background-color: var(--color-main);
}
.order__check--hidden {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.order__check--custom:checked {
  border: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}
.order__check--custom:hover,
.order__check--custom:focus {
  border-color: var(--color-brand);
}
