:root {
  --white: #fff;
  --black: #000;
  --brand-black: #212121;
  --grey: #757575;
  --brand-blue: #2196f3;
  --lightgrey: #ffffff99;
  --background-grey: #f5f4fa;
  --background-white: #e5e5e5;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--brand-black);
  background-color: var(--background-white);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
.list {
  list-style-type: none;
  display: inline;
}
.list a {
  text-decoration: none;
}
/*header*/
.head {
  background-color: var(--white);
}
.navi-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--band-black);
}
.head-logo {
  color: var(--black);
}
.navi-link:hover,
.navi-link:focus,
.navi-link:active {
  color: var(--brand-blue);
}
.contacts-link {
  color: var(--grey);
  text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--brand-blue);
}
/*Footer*/
.foot {
  background-color: #2f303a;
  color: var(--white);
}
.foot-logo {
  color: var(--white);
}
.foot-contacts-link {
  color: var(--lightgrey);
}
.foot-contacts-link:hover,
.foot-contacts-link:focus {
  color: var(--brand-blue);
}
.mail {
  line-height: 1.71;
}
/*Logo WebStudio*/
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}
.logo-color {
  color: var(--brand-blue);
}
/* Main */
.headline-secondary {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.title-box {
  background-color: #2f303a;
}
.title {
  font-weight: 900;
  font-size: 44px;
  color: var(--white);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.title-button {
  background-color: var(--brand-blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
}
.offer {
  background-color: var(--background-white);
}
.team {
  background-color: var(--background-grey);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.position {
  font-size: 16px;
  line-height: 1.17;
  color: var(--grey);
  text-align: center;
}
.offer h4 {
  font-weight: 700;
  line-height: 1.17;
}
.offer p {
  color: var(--grey);
  line-height: 1.71;
}
