@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

.btn {
  @include cursorOutline;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: getFontWeight("bold");
  font-size: getFontSize("primary");
  line-height: 1.87;
  letter-spacing: getLetterSpacing("btn");
  text-align: center;
  border: none;
  border-radius: $border-radius-regular;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: getColor("main");
  background-color: getColor("brand");
}
.btn__footer {
  @include flex(row);
  width: 200px;
  height: 50px;
  white-space: nowrap;
}
.btn__title {
  margin: 0 auto;
  padding-right: 41px;
  padding-left: 42px;
}
.btn__modal {
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}
.btn__filter {
  @include trans(all);
  padding: 6px 22px;
  font-size: getFontSize("primary");
  font-weight: getFontWeight("medium");
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: $border-radius-regular;
  background-color: getColor("background-light");
  &:hover,
  &:focus {
    color: getColor("main");
    background-color: getColor("brand");
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.btn__close {
  @include cursorOutline;
  @include trans(border-color);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: getColor("modal-close");
  border-radius: 50%;
  background-color: getColor("main");

  &:hover,
  &:focus-within {
    @include fillBorder;
  }
}
