@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.client {
  @include flex(row);
  @include gapWrap;
}
.client__item {
  @include trans(all);
  display: flex;
  justify-content: center;
  flex-basis: calc((100% - 30px * 5) / 6);
  width: 170px;
  height: 92px;
  border: 1px solid getColor("icon");
  border-radius: $border-radius-regular;

  &:hover,
  &:focus {
    outline: none;
    fill: getColor("brand");
    border-color: getColor("brand");
  }
}
