@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.client {
  @include flex(row);
  @include gapWrap;
}
.client__item {
  @include flexbasis(1);
  @include trans(all);
  align-items: center;
  height: 92px;
  display: flex;
  justify-content: center;
  border: 1px solid getColor("icon");
  border-radius: $border-radius-regular;

  &:hover,
  &:focus {
    outline: none;
    fill: getColor("brand");
    border-color: getColor("brand");
  }
}

@media screen and (min-width: 768px) {
  .client {
    justify-content: space-between;
    &__item {
      @include flexbasis(2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .client {
    &__item {
      @include flexbasis(5);
      max-width: 170px;
    }
  }
}
