@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 15px;
  color: getColor("main");

  &__background {
    background-color: getColor("footer");
  }
  &__logo-block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__address {
    margin-bottom: 8px;
    line-height: 1.71;
  }
  &__heading {
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: getFontWeight("bold");
    line-height: $line-height-regular;
    text-transform: uppercase;
  }
  &__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  &__form {
    @include flex(column);
    width: 100%;
    margin: 0;
  }
}
.footer__logo--color {
  color: getColor("main");
}
.footer__contacts--start {
  margin-bottom: 8px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  &--color {
    text-decoration: none;
    color: getColor("footer-contacts");
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;

  &--color {
    fill: getColor("main");
    background-color: getColor("icon-dark");
  }
}
.footer__input {
  @include trans(all);
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: $border-radius-regular;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: getColor("footer");

  &:hover,
  &:focus {
    border-color: getColor("brand");
  }
  &,
  ::placeholder {
    font-size: getFontSize("primary");
    line-height: 1.25;
    color: getColor("footer-contacts");
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    &__input {
      max-width: 450px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__tablet {
      display: flex;
      flex-direction: row;
      margin-bottom: 60px;
    }
    &__heading {
      margin-top: 0;
    }
    &__input {
      max-width: 450px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0;
    margin: 0 auto;

    &__tablet {
      margin-bottom: 0;
    }
    &__logo-block {
      display: block;
      margin: 0;
      margin-right: 70px;
    }
    &__logo {
      display: inline-block;
      margin-left: 0;
    }
    &__address {
      margin-bottom: 9px;
    }
    &__contacts--start {
      margin-bottom: 9px;
    }
    &__heading {
      margin-top: 12px;
    }
    &__social {
      display: block;
    }
    &__newsletter {
      display: block;
    }
    &__form {
      @include flex(row);
      margin: auto auto;
    }
    &__input {
      width: 100%;
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
}
