@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  color: getColor("main");

  &__background {
    background-color: getColor("footer");
  }
  &__address {
    margin-top: 20px;
    margin-bottom: 9px;
    line-height: 1.71;
  }
  &__heading {
    margin-bottom: 20px;
    font-weight: getFontWeight("bold");
    line-height: $line-height-regular;
    text-transform: uppercase;
  }
  &__newsletter {
    margin-left: 78px;
    padding-top: 12px;
  }
  &__form {
    display: flex;
  }
}
.footer__logo--color {
  color: getColor("main");
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
  &--color {
    text-decoration: none;
    color: getColor("footer-contacts");
  }
}
.footer__social {
  margin-left: 70px;
  padding-top: 12px;
  &--color {
    fill: getColor("main");
    background-color: getColor("icon-dark");
  }
}
.footer__input {
  @include trans(all);
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: $border-radius-regular;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: getColor("footer");

  &:hover,
  &:focus {
    border-color: getColor("brand");
  }
  &,
  ::placeholder {
    font-size: getFontSize("primary");
    line-height: 1.25;
    color: getColor("footer-contacts");
  }
}
