@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

.gallery {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__list {
    @include flex(row);
    @include gapWrap;
  }

  &__thumb {
    position: relative;
    @include flexbasis(2);
  }
  &__label {
    position: absolute;
    margin: 0;
    padding: 27px 0;
    font-weight: getFontWeight("bold");
    line-height: $line-height-regular;
    text-transform: uppercase;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    color: getColor("main");
    background-color: getColor("offer-label");
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    display: flex;
  }
}
