@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

body {
  @include marPadZero;
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: getFontSize("regular");
  letter-spacing: getLetterSpacing("regular");
  color: getColor("headline");
  overflow-x: hidden;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
svg {
  width: 100%;
  height: 100%;
}