@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include gapWrap;

  &__overlay {
    @include trans(transform);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 49px 45px 49px 24px;
    font-size: getFontSize("product");
    line-height: 1.55;
    top: 0;
    left: 0;
    transform: translatey(100%);
    color: getColor("main");
    background-color: getColor("overlay");
  }
}

.grid__item {
  @include flexbasis(0);
  @include trans(box-shadow);
  cursor: pointer;
  background-color: getColor("main");
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    .grid__overlay {
      display: block;
      transform: translatey(0);
    }
  }
}

@media screen and (min-width: 768px) {
  .grid {
    justify-content: space-between;
    &__item {
      @include flexbasis(1);
    }
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    &__item {
      @include flexbasis(2);
    }
  }
}
