@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

// mobile style

.header {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  max-width: 480px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 22px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo--color {
    color: getColor("logo");
  }
  &__hide {
    display: none;
  }
}

// tablet style

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    min-width: 481px;
    max-width: 768px;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 22px;
    font-weight: getFontWeight("medium");
    letter-spacing: getLetterSpacing("header");
    line-height: $line-height-regular;
    border-bottom: 1px solid getColor("header-border");
    background-color: getColor("main");
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &__hide {
      display: flex;
    }
    &__logo {
      display: inline-flex;
      // margin-right: 93px;
    }
    &__logo--color {
      color: getColor("logo");
    }
  }
  .header__nav {
    @include flex(row);
    gap: 60px;
    &--color {
      position: relative;
      text-decoration: none;
      color: getColor("headline");
      &:hover::after,
      &:focus::after {
        @include navAfter;
        bottom: -29px;
        transform: translateY(100%);
      }
    }
  }

  .header__nav--active {
    position: relative;
    color: getColor("brand");
    &::after {
      @include navAfter;
      bottom: -33px;
    }
  }

  .header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 10px;
    font-size: getFontSize("order-label");

    &--color {
      display: flex;
      text-decoration: none;
      color: getColor("text");
    }
  }
}

// desktop style

@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    line-height: 1.14;
    letter-spacing: getLetterSpacing("header");
    border-bottom: 1px solid getColor("header-border");
    background-color: getColor("main");
    &__logo {
      margin-right: 93px;
    }
    &__logo--color {
      color: getColor("logo");
    }
  }
  .header__nav {
    display: flex;
    margin-right: 345px;
    gap: 46px;
    &--color {
      position: relative;
      font-weight: getFontWeight("medium");
      text-decoration: none;
      color: getColor("headline");
      &:hover::after,
      &:focus::after {
        @include navAfter;
        bottom: -29px;
        transform: translateY(100%);
      }
    }
  }

  .header__nav--active {
    position: relative;
    color: getColor("brand");
    &::after {
      @include navAfter;
      bottom: -33px;
    }
  }

  .header__contacts {
    @include flex(row);
    gap: $gap-grid;
    &--color {
      display: flex;
      text-decoration: none;
      letter-spacing: getLetterSpacing("header");
      color: getColor("text");
    }
  }
}
