.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  line-height: 1.14;
  letter-spacing: var(--letter-spacing-header);
  border-bottom: 1px solid var(--color-header-border);
  background-color: var(--color-main);
}

.header__logo {
  margin-right: 93px;
}
.header__logo--color {
  color: var(--color-logo);
}
.header__nav {
  display: flex;
  margin-right: 345px;
  gap: 46px;
}
.header__nav--color {
  position: relative;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  color: var(--color-headline);
}

/* --blue underline for active page ---- */
.header__nav--active {
  position: relative;
  color: var(--color-brand);
}
.header__nav--active::after {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  left: 0;
  right: 0;
  bottom: -33px;
  border-radius: 2px;
  background-color: var(--color-brand);
}
.header__nav--color:hover::after {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  left: 0;
  right: 0;
  bottom: -29px;
  border-radius: 2px;
  transform: translateY(100%);
  background-color: var(--color-brand);
}

/* --- */
.header__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-grid);
}
.header__contacts--color {
  display: flex;
  text-decoration: none;
  letter-spacing: var(--letter-spacing-header);
  color: var(--color-text);
}
