@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

// mobile style

.header {
  position: relative;
  @include flex(row);
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 23px;
  font-weight: getFontWeight("medium");
  letter-spacing: getLetterSpacing("header");
  line-height: $line-height-regular;
  border-bottom: 1px solid getColor("header-border");
  background-color: getColor("main");

  &__logo--color {
    color: getColor("logo");
  }
  &__hide {
    display: none;
  }
  &__mobile {
    position: absolute;
    top: 18px;
    right: -260px;
    border: 1px solid teal;
  }
}

// tablet style

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 15px;
    &__logo {
      margin-right: 83px;
    }
    &__hide {
      @include flex(row);
      justify-content: space-between;
    }
    &__nav {
      @include flex(row);
      margin-right: 101px;
      gap: 60px;

      &--color {
        position: relative;
        text-decoration: none;
        color: getColor("headline");
        &:hover::after,
        &:focus::after {
          @include navAfter;
          bottom: -26px;
          transform: translateY(100%);
        }
      }
    }
    &__nav--active {
      position: relative;
      color: getColor("brand");
      &::after {
        @include navAfter;
        bottom: -30px;
      }
    }
    &__contacts {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      column-gap: 10px;
      font-size: getFontSize("order-label");

      &--color {
        display: flex;
        text-decoration: none;
        color: getColor("text");
      }
    }
    &__icon {
      margin-right: 8px;
      &--short {
        margin-right: 5px;
      }
    }
  }
}

// desktop style

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;

    &__logo {
      margin-right: 93px;
    }
  }
  .header__nav {
    margin-right: 345px;
    gap: 46px;
    &--color {
      font-weight: getFontWeight("medium");
      &:hover::after,
      &:focus::after {
        bottom: -30px;
      }
    }
  }

  .header__nav--active {
    &::after {
      bottom: -34px;
    }
  }

  .header__contacts {
    @include flex(row);
    gap: $gap-grid;
    &--color {
      font-size: getFontSize("regular");
    }
    &__icon {
      margin-right: 10px;
      &--short {
        margin-right: 7px;
      }
    }
  }
}
