@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.icon {
  @include cursorOutline;

  &__footer {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    fill: getColor("main");
  }
  &__offer {
    display: block;
    width: 270px;
    height: 120px;
    border-radius: $border-radius-regular;
    border-bottom: 30px;
    fill: currentColor;
    background-color: getColor("background-light");
  }
  &__order {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 11px;
    left: 12px;
    fill: getColor("headline");
    @include trans(all);
    // transition-property: fill, border-color;
    // transition-duration: var(--transition-dur);
    // transition-timing-function: var(--transition-timing);
  }
}

.icon__header--color {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  @include trans(fill);
  // transition-property: fill;
  // transition-duration: var(--transition-dur);
  // transition-timing-function: var(--transition-timing);
  fill: getColor("text");
  background-color: getColor("main");

  &:hover,
  &:focus {
    fill: getColor("brand");
  }
}
.icon__social {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  @include trans(all);
  // transition-property: background-color, fill;
  // transition-duration: var(--transition-dur);
  // transition-timing-function: var(--transition-timing);

  &:hover,
  &:focus {
    outline: none;
    fill: getColor("main");
    background-color: getColor("brand");
  }
}
.icon__client {
  width: 170px;
  height: 92px;
  fill: getColor("icon");
  @include trans(fill);

  &:hover,
  &:focus {
    fill: getColor("brand");
  }
}
.icon__x {
  width: 20px;
  height: 20px;
  @include trans(fill);

  &:hover {
    fill: getColor("brand");
  }
}
