@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.icon {
  @include cursorOutline;

  &__footer {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    fill: getColor("main");
  }
  &__offer {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // height: 120px;
    // border-radius: $border-radius-regular;
    // border-bottom: 30px;
    fill: currentColor;
    // background-color: getColor("background-light");
  }
  &__order {
    @include trans(all);
    position: absolute;
    width: 18px;
    height: 18px;
    top: 11px;
    left: 12px;
    fill: getColor("headline");
  }
}

.icon__header--color {
  @include trans(fill);
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: getColor("text");
  background-color: getColor("main");

  &:hover,
  &:focus {
    fill: getColor("brand");
  }
}
.icon__social {
  @include trans(all);
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;

  &:hover,
  &:focus {
    outline: none;
    fill: getColor("main");
    background-color: getColor("brand");
  }
}
.icon__client {
  // display: flex;
  // justify-content: center;
  // width: 100%;
  height: 92px;
  @include trans(fill);
  fill: getColor("icon");

  &:hover,
  &:focus {
    fill: getColor("brand");
  }
}
.icon__x {
  @include trans(fill);
  width: 20px;
  height: 20px;

  &:hover {
    fill: getColor("brand");
  }
}
