@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

@media (max-width: 768px) {
  .mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    font-weight: getFontWeight("medium");
    letter-spacing: getLetterSpacing("header");
    line-height: $line-height-regular;
    text-decoration: none;
    background-color: getColor("main");
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    &.is-open {
      transform: translateX(0);
    }

    & .mobile__toggle {
      position: absolute;
      top: 21px;
      right: -250px;
      color: black;
    }
    &__toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40px;
      min-width: 40px;
      margin: 0;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      outline: none;
      &:hover,
      &:focus {
        fill: getColor("brand");
      }
    }
  }
  .mobile__block {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .mobile__link {
    text-decoration: none;
  }
  .mobile__menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: getFontSize("mobile-nav");
    & .link {
      color: getColor("headline");
      &:hover,
      &:focus {
        color: getColor("brand");
      }
    }
  }

  .mobile__contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: getFontSize("logo-mobile");

    &-phone {
      font-size: getFontSize("mobile-phone");
      color: getColor("brand");
    }
    &-email {
      color: getColor("text");
    }
  }
  .mobile__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: getFontSize("product");
    line-height: 1.22;
    
    &-item {
      display: flex;
      align-items: center;
    }

    & .link {
      color: getColor("brand");
    }
  }

  .mobile__social {
    &--inst,
    &--twit,
    &--fb {
      position: relative;
      margin-right: 22px;
      &::after {
        @include socialAfter;
        transform: rotate(0);
        @include trans(all);
      }
    }
  }
  .mobile__social {
    &--inst::after {
      top: 0;
      left: 94px;
    }
    &--twit::after {
      top: 0;
      left: 70px;
    }
    &--fb::after {
      top: 0;
      left: 92px;
    }
  }
  .mobile__social {
    &--inst:hover::after,
    &--twit:hover::after,
    &--fb:hover::after {
      transform: rotate(90deg);
    }
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
    &__toggle {
      display: none;
    }
  }
}
