@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

@media (max-width: 767px) {
  .mobile {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    font-weight: getFontWeight("medium");
    letter-spacing: getLetterSpacing("header");
    line-height: $line-height-regular;
    text-decoration: none;
    background-color: getColor("main");

    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    &.is-open {
      display: flex;
      transform: translateY(0);
      z-index: 999;
    }

    & .mobile__toggle {
      position: absolute;
      top: 21px;
      right: -250px;
      color: black;
    }
    &__toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40px;
      min-width: 40px;
      margin: 0;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      outline: none;
      &:hover,
      &:focus {
        fill: getColor("brand");
      }
    }
  }
  .mobile__block {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .mobile__link {
    text-decoration: none;
  }
  .mobile__menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: getFontSize("mobile-nav");
    & .link {
      color: getColor("headline");
      &:hover,
      &:focus {
        color: getColor("brand");
      }
    }
  }

  .mobile__contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: getFontSize("logo-mobile");

    &-phone {
      font-size: getFontSize("mobile-phone");
      color: getColor("brand");
    }
    &-email {
      color: getColor("text");
    }
  }
  .mobile__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    font-size: getFontSize("product");
    line-height: 1.22;

    &--bord {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid getColor("mobile-border");
    }

    & .link {
      color: getColor("brand");
    }
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
    z-index: -10;
    &__toggle {
      display: none;
    }
  }
}
