@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.modal {
  position: absolute;
  @include flex(column);
  width: 90vw;
  min-width: 320px;
  height: auto;
  min-height: 580px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $border-radius-regular;
  box-shadow: $box-shad-team;
  background-color: getColor("main");

  &__close-block {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
  }

  &__anime {
    transition-duration: 1500ms;
  }
  &__flex {
    @include flex(column);
    margin: auto;
    padding: 0 40px 40px 40px;
  }
  &__backdrop {
    @include transModal;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: getColor("backdrop");

    &--hidden {
      @include transModal;
      display: none;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    max-height: 90vh;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    height: 609px;
    max-height: 90vh;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}
