@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

.offer {
  @include gapWrap;
  display: flex;
  gap: 30px;

  &__item {
    @include flexbasis(0);
  }
  &__heading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: getFontWeight("bold");
    line-height: 1.14;
  }
  &__post {
    margin: 0;
    line-height: 1.71;
    color: getColor("text");
  }
  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: none;
    border-radius: $border-radius-regular;
    background-color: getColor("background-light");
  }
}

@media screen and (min-width: 768px) {
  .offer {
    .section {
      padding-bottom: 45px;
    }

    &__item {
      @include flexbasis(1);
    }
  }
}

@media screen and (min-width: 1200px) {
  .offer {
    &__item {
      @include flexbasis(3);
    }
    &__heading {
      line-height: $line-height-regular;
    }
    &__icon-box {
      max-width: 270px;
    }
  }
}
