@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.order {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  &__heading {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: getFontWeight("bold");
    font-size: getFontSize("order-heading");
    line-height: 1.15;
    text-align: center;
    color: getColor("headline");
  }
  &__label {
    margin-bottom: 4px;
    font-size: getFontSize("order-label");
    line-height: 1.16;
    letter-spacing: getLetterSpacing("order-label");
    color: getColor("text");
  }
  &__confirmation {
    margin: 0;
    font-size: getFontSize("regular");
    line-height: 1.71;
    color: getColor("text");
  }
  &__link {
    color: getColor("brand");
  }
}
.order__item {
  position: relative;
  margin-bottom: 10px;

  &:focus-within .icon__order {
    @include fillBorder;
  }
  &:hover .icon__order,
  .order__input {
    @include fillBorder;
  }
}
.order__comment {
  height: 120px;
  margin-bottom: 10px;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
    font-size: getFontSize("order-label");
    line-height: 1.16;
    letter-spacing: getLetterSpacing("order-label");
    color: getColor("comment-placeholder");
  }
}
.order__input {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: $border-radius-regular;
  outline: none;
  @include trans(background-color);

  &:focus {
    @include fillBorder;
  }
}
.order__check {
  @include flex(row);
  @include marPadZero;
  cursor: pointer;

  &--hidden {
    appearance: none;
    // -moz-appearance: none;
    // -webkit-appearance: none;
  }
  &--custom {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    padding: 0;
    @include cursorOutline;
    border: 2px solid getColor("headline");
    border-radius: 2px;
    background-color: getColor("main");

    &:checked {
      border: transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    }
    &:hover,
    &:focus {
      border-color: getColor("brand");
    }
  }
}
