.product {
  position: relative;
  width: 370px;
  height: 294px;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}
.product__label {
  padding: 20px 0 20px 24px;
  border-bottom: 1px solid var(--color-grid-border);
  border-right: 1px solid var(--color-grid-border);
  border-left: 1px solid var(--color-grid-border);
}
.product__name {
  margin: 0;
  padding-bottom: 4px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-product);
  line-height: 2;
  letter-spacing: var(--letter-spacing-btn);
}
.product__class {
  margin: 0;
  font-size: var(--font-size-primary);
  line-height: 1.87;
  color: var(--color-text);
}
