@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.product {
  position: relative;
  width: 370px;
  height: 294px;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;

  &__label {
    padding: 20px 0 20px 24px;
    border: 1px solid getColor("grid-border");
    border-top: none;
  }
  &__name {
    margin: 0;
    padding-bottom: 4px;
    font-weight: getFontWeight("bold");
    font-size: getFontSize("product");
    line-height: 2;
    letter-spacing: getLetterSpacing("btn");
  }
  &__class {
    margin: 0;
    font-size: getFontSize("primary");
    line-height: 1.87;
    color: getColor("text");
  }
}
