@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1200px;

  &__headline {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: getFontSize("section-headline");
    font-weight: getFontWeight("bold");
    line-height: $line-height-regular;
    text-align: center;
  }
}
