@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

.team {
  background-color: getColor("background-light");

  &__list {
    // @include flex(row);
    @include gapWrap;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  &__card {
    @include marPadZero;
    max-width: 270px;
    flex-basis: calc((100% - 30px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: $box-shad-team;
    background-color: getColor("main");
  }
  &__img-box {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__person {
    display: flex;
    flex-direction: column;
    padding: 30px 32px;
  }
  &__name {
    @include marPadZero;
    font-weight: getFontWeight("medium");
    font-size: getFontSize("primary");
    line-height: $line-height-regular;
    text-align: center;
  }
  &__position {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: getFontSize("primary");
    line-height: $line-height-regular;
    text-align: center;
    color: getColor("text");
  }
  &__social--color {
    fill: getColor("icon");
    background-color: getColor("main");
  }
}
