@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";

.team {
  &__background {
    background-color: getColor("background-light");
  }

  &__list {
    @include flex(row);
    @include gapWrap;
  }
  &__item {
    @include flexbasis(0);
  }
  &__card {
    @include marPadZero;
    border-radius: 0px 0px 4px 4px;
    box-shadow: $box-shad-team;
    background-color: getColor("main");
  }
  &__person {
    display: flex;
    flex-direction: column;
    padding: 30px 32px;
  }
  &__name {
    @include marPadZero;
    font-weight: getFontWeight("medium");
    font-size: getFontSize("primary");
    line-height: $line-height-regular;
    text-align: center;
  }
  &__position {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: getFontSize("primary");
    line-height: $line-height-regular;
    text-align: center;
    color: getColor("text");
  }
  &__social--color {
    fill: getColor("icon");
    background-color: getColor("main");
  }
}

@media screen and (min-width: 768px) {
  .team {
    &__item {
      @include flexbasis(1);
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    &__item {
      @include flexbasis(3);
    }
  }
}
