@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/colors";
@import "../utils/variables";
.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;

  &__image {
    min-width: 320px;
    max-width: 1600px;
    background-image: linear-gradient(
        getColor("background-image"),
        getColor("background-image")
      ),
      url("../images/title-background-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: getColor("background-image");
  }
  &__headline {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: getFontWeight("extra-bold");
    font-size: getFontSize("logo");
    line-height: 1.61;
    text-align: center;
    letter-spacing: getLetterSpacing("btn");
    text-transform: uppercase;
    color: getColor("main");
    white-space: nowrap;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: linear-gradient(
        getColor("background-image"),
        getColor("background-image")
      ),
      url("../images/title-background-img@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .title {
    &__headline {
      font-size: getFontSize("title-headline");
      line-height: 1.36;
    }
  }
}
