$font-sizes: (
  "regular": 14px,
  "primary": 16px,
  "logo-mobile": 24px,
  "logo": 26px,
  "title-headline": 44px,
  "section-headline": 36px,
  "product": 18px,
  "order-heading": 20px,
  "order-label": 12px,
);
@function getFontSize($key) {
  @return map-get($font-sizes, $key);
}

$font-weights: (
  "medium": 500,
  "bold": 700,
  "extra-bold": 900,
);
@function getFontWeight($key) {
  @return map-get($font-weights, $key);
}

$letter-spacings: (
  "regular": 0.03em,
  "header": 0.02em,
  "btn": 0.06em,
  "order-label": 0.01em,
);
@function getLetterSpacing($key) {
  @return map-get($letter-spacings, $key);
}
