@import "./colors";
@import "./variables";

@mixin trans($property) {
  transition-property: $property;
  transition-duration: $transition-dur;
  transition-timing-function: $transition-timing;
}
@mixin flex($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin gapWrap {
  flex-wrap: wrap;
  gap: $gap-grid;
}
@mixin cursorOutline {
  cursor: pointer;
  outline: none;
}
@mixin fillBorder {
  fill: getColor("brand");
  border-color: getColor("brand");
}
@mixin marPadZero {
  margin: 0;
  padding: 0;
}
@mixin navAfter {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  left: 0;
  right: 0;
  border-radius: 2px;
  background-color: getColor("brand");
}
@mixin transModal {
  transition: opacity 250ms easy, visibility 250ms easy;
}
